<div class="container">
  <div class="row">
    <h1>About SeaHood</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ullamcorper iaculis sollicitudin. Etiam ornare tincidunt consectetur. In hac habitasse platea dictumst. Duis id purus vel lectus consectetur tempor vel non nulla. Sed a tincidunt risus, viverra pretium mi. Maecenas bibendum vitae augue vel consequat. Nam porttitor scelerisque velit et condimentum. Pellentesque venenatis tincidunt eros, ut aliquam massa. Maecenas dictum diam est, blandit cursus felis tristique ut. Vestibulum gravida tellus a nibh auctor aliquam. Suspendisse in ante tristique, lobortis diam ut, luctus est. Vestibulum ornare justo eget fringilla tristique. Sed semper faucibus neque, sed dignissim massa tempus at. Nullam lacinia gravida ultrices. Mauris accumsan, erat ac consequat venenatis, sem mauris fringilla lacus, sed rutrum ante mauris et quam.</p>
  </div>

  <div class="row">
    <h1>Our Mission</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ullamcorper iaculis sollicitudin. Etiam ornare tincidunt consectetur. In hac habitasse platea dictumst. Duis id purus vel lectus consectetur tempor vel non nulla. Sed a tincidunt risus, viverra pretium mi. Maecenas bibendum vitae augue vel consequat. Nam porttitor scelerisque velit et condimentum. Pellentesque venenatis tincidunt eros, ut aliquam massa. Maecenas dictum diam est, blandit cursus felis tristique ut. Vestibulum gravida tellus a nibh auctor aliquam. Suspendisse in ante tristique, lobortis diam ut, luctus est. Vestibulum ornare justo eget fringilla tristique. Sed semper faucibus neque, sed dignissim massa tempus at. Nullam lacinia gravida ultrices. Mauris accumsan, erat ac consequat venenatis, sem mauris fringilla lacus, sed rutrum ante mauris et quam.</p>
  </div>

  <div class="row">
    <h1>Our Team</h1>
  </div>

  <div class="card-deck">
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top img-fluid" src="assets/img_avatar1.png" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Ben</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top img-fluid" src="assets/img_avatar1.png" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Diego</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top img-fluid" src="assets/img_avatar1.png" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Hung</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" >
        <img class="card-img-top img-fluid" src="assets/img_avatar1.png" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Tuan</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        </div>
      </div>
    </div>
  </div>

</div>

